:root {
    color-scheme: light;

    /* Light color scheme */
    --light-color-primary: #F5F5F5;
    --light-color-secondary: #385be7; 
    --light-color-tertiary: #0A1336;
    --light-color-accent: #508EAE;
    --light-color-text: #00000099;
    --light-color-text-contrast: #ffffff;
    --light-color-shadow: #00000020;
    --light-color-border: #0097E3;
    --light-color-disabled-background: #1C1C1C;
    --light-color-disabled-text: #4E4E4E;
    --light-color-bad: #CD6060;
    --light-color-good: #7EE58A;
    --light-color-marginal: #BABA4F;

    --dark-color-primary: ;
    --dark-color-secondary: ;
    --dark-color-tertiary: ;
    --dark-color-accent: ;
    --dark-color-text: ;
    --dark-color-text-contrast: ;
    --dark-color-shadow: ;

    --color-primary: light-dark(var(--light-color-primary), var(--dark-color-primary)); 
    --color-secondary: light-dark(var(--light-color-secondary), var(--dark-color-secondary)); 
    --color-tertiary: light-dark(var(--light-color-tertiary), var(--dark-color-tertiary)); 
    --color-accent: light-dark(var(--light-color-accent), var(--dark-color-accent)); 
    --color-text: light-dark(var(--light-color-text), var(--dark-color-text)); 
    --color-text-contrast: light-dark(var(--light-color-text-contrast), var(--dark-color-text-contrast)); 
    --color-shadow: light-dark(var(--light-color-shadow), var(--dark-color-shadow));

    --color-disabled-background: var(--light-color-disabled-background);
    --color-disabled-text: var(--light-color-disabled-text);
    --color-bad: var(--light-color-bad);
    --color-good: var(--light-color-good);
    --color-marginal: var(--light-color-marginal);
}

body {
    color: var(--color-text);
    background: var(--color-primary);
}

header, footer {
    background: var(--color-secondary);
    color: var(--color-text-contrast);
}

main {
    background: var(--color-text-contrast);
    box-shadow: 0 2px 5px var(--color-shadow);
}

h3, h4 {
    color: var(--color-tertiary);
}

form {
    background: var(--color-secondary);
    box-shadow: 0 2px 5px var(--color-shadow);
    color: var(--color-text-contrast);
}

form input {
    border: 1px solid var(--color-border);
    color: var(--color-text);
    background: var(--color-text-contrast);
}

form input::placeholder {
    color: var(--color-text);
    opacity: 0.6;
}

form button {
    background: var(--color-accent);
    color: var(--color-text-contrast);
    box-shadow: 0 2px 5px var(--color-shadow);
    transition: background 0.3s ease-in-out;
}

form button:hover {
    background: var(--color-secondary);
}

table {
    box-shadow: 0 2px 5px var(--color-shadow);
    background: var(--color-text-contrast);
}

th, td {
    border-bottom: 1px solid var(--color-border);
    color: var(--color-text);
}

th {
    background: var(--color-accent);
    color: var(--color-text-contrast);
}

tr:hover {
    background: var(--color-secondary);
    color: var(--color-text-contrast);
    transition: background 0.3s ease-in-out;
}

canvas {
    background: var(--color-text-contrast);
    box-shadow: 0 2px 5px var(--color-shadow);
}

button {
    background: var(--color-accent);
    color: var(--color-text-contrast);
    box-shadow: 0 2px 5px var(--color-shadow);
    transition: background 0.3s ease-in-out;
}

button:hover {
    background: var(--color-secondary);
}

input:disabled, button:disabled {
    background: var(--color-disabled-background);
    color: var(--color-disabled-text);
}

.bad {
    color: var(--color-text-contrast);
    background: var(--color-bad);
}

.good {
    color: var(--color-text-contrast);
    background: var(--color-good);
}

.marginal {
    color: var(--color-text-contrast);
    background: var(--color-marginal);
}

.navbar {
    background-color: #005f73;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.nav-item a,
.nav-link {
    color: white;
}

.nav-link:hover,
.nav-link.current {
    color: #94d2bd;
}
