:root {
	color-scheme: light;

	/* Light color scheme */
	--light-color-primary: #EFEFEF;
	--light-color-secondary: #0A1336;
	--light-color-tertiary: #66BBE6;
	--light-color-text: black;
	--light-color-text-contrast: white;
	--light-color-shadow: rgba(0, 151, 227, 0.5);

	/* Dark color scheme */
	--dark-color-primary: transparent;
	--dark-color-secondary: transparent;
	--dark-color-tertiary: transparent;
	--dark-color-text: transparent;
	--dark-color-text-contrast: transparent;
	--dark-color-shadow: transparent;

	/* Picking the scheme */
	--color-primary: light-dark(var(--light-color-primary), var(--dark-color-primary));
	--color-secondary: light-dark(var(--light-color-secondary), var(--dark-color-secondary));
	--color-tertiary: light-dark(var(--light-color-tertiary), var(--dark-color-tertiary));
	--color-text: light-dark(var(--light-color-text), var(--dark-color-text));
	--color-text-contrast: light-dark(var(--light-color-text-contrast), var(--dark-color-text-contrast));
	--color-shadow: light-dark(var(--light-color-shadow), var(--dark-color-shadow));

	/* Pallet expansion */
	/* Background */
	--background-primary: var(--color-primary);
	--background-secondary: var(--color-secondary);
	--background-secondary-hover: color-mix(in srgb,
			var(--background-secondary),
			black 30%);
	--background-tertiary: var(--color-tertiary);
	--background-tertiary-hover: color-mix(in srgb,
			var(--background-tertiary),
			black 10%);
	--background-disabled: #141414;
	--background-disabled-hover: color-mix(in srgb,
			var(--background-disabled),
			white 10%);
	--background-bad: #CD6060;
	--background-good: #7EE58A;
	--background-marginal: #BABA4F;

	/* Text */
	--text: var(--color-text);
	--text-contrast: var(--color-text-contrast);
	--text-disabled: #4E4E4E;
	--text-anchor-hover: gray;

	/* Other */
	--border: var(--color-shadow);
	--box-shadow-small: 0 2px 5px var(--border);
	--box-shadow-medium: 2px 4px 3px 0px var(--border);
}

body {
	background-color: var(--background-primary);
	color: var(--text);
}

header,
footer {
	background-color: var(--background-secondary);
	color: var(--text-contrast);
	box-shadow: var(--box-shadow-medium);
}

nav {

	li,
	li a {
		color: var(--text-contrast);
	}

	a:hover {
		color: var(--text-anchor-hover);
	}
}

main {
	background-color: var(--background-primary);
}

h3,
h4 {
	color: var(--background-tertiary);
}

form {
	background-color: var(--background-tertiary);
	color: var(--text-contrast);
	box-shadow: var(--box-shadow-small);
}

table {
	background-color: var(--background-tertiary);
	box-shadow: var(--box-shadow-small);

	thead,
	tfoot {
		background-color: var(--background-secondary);
	}

	th,
	td {
		border-bottom: 1px solid var(--border);
		color: var(--text-contrast);

		&:hover {
			background-color: var(--background-secondary-hover);
			transition: background 0.3s ease-in-out;
		}
	}
}

canvas {
	background-color: var(--background-primary);
	box-shadow: var(--box-shadow-small);
}

input,
[type="text"],
[type="email"],
[type="search"],
[type="file"],
textarea,
select {
	background-color: var(--background-tertiary);
	color: var(--text);
	border: 1px solid var(--border);

	&:hover {
		background-color: var(--background-tertiary-hover);
	}

	&::placeholder {
		color: var(--text);
		opacity: 0.6;
	}

	&:disabled {
		background-color: var(--background-disabled);
		color: var(--text-disabled);
	}
}

button,
[type="button"],
[type="submit"] {
	background-color: var(--background-tertiary);
	color: var(--text);
	box-shadow: var(--box-shadow-small);

	&:hover {
		background-color: var(--background-tertiary-hover);
	}

	&:disabled {
		background-color: var(--background-disabled);
		color: var(--text-disabled);

		&:hover {
			background-color: var(--background-disabled-hover);
		}
	}
}

.bad {
	background-color: var(--background-bad);
	color: var(--text-contrast);
}

.good {
	background-color: var(--background-good);
	color: var(--text-contrast);
}

.marginal {
	background-color: var(--background-marginal);
	color: var(--text-contrast);
}
