body {
	font-family: "Roboto Mono", monospace;
	font-weight: 400;
	font-size: 15px;
	font-style: normal;
	line-height: 1.4;
	letter-spacing: 0.0em;
}

a {
	text-decoration: none;
}

h1 {
	text-align: center;
}

a,
button {
	font-weight: 600;
	font-size: medium;
}

select {
	font-weight: 500;
	font-size: medium;
}
