@import url("./animations.css");
@import url("./colors.css");
@import url("./font.css");
@import url("./queries.css");

:root {
	--height-max-main: 80vh;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
}

header {
	padding: 20px;
	text-align: center;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 2rem;

	&>ul {
		list-style: none;
		display: flex;
		gap: 2rem;
		margin: 0;
		padding: 0;

		a {
			transition: color 0.3s ease;
		}
	}
}

main {
	flex: 1;
	max-height: var(--height-max-main);
	align-self: center;
	align-content: center;
	overflow-y: scroll;
	width: 100%;
	padding: 20px;
	border-radius: 8px;
	box-sizing: border-box;
	box-shadow: 0 2px 5px;
}

footer {
	margin-top: auto;
	padding: 20px;
	text-align: center;
}

h3 {
	padding: 20px 10px;
	margin: 0;
	margin-bottom: 20px;
}

h4 {
	padding: 20px 10px;
	margin: 0;
	margin-bottom: 20px;
}

form {
	margin-bottom: 20px;
	padding: 10px;
	border-radius: 8px;
	box-shadow: 0 2px 5px;
}

input,
[type="text"],
[type="email"],
[type="submit"],
[type="search"],
[type="file"],
textarea,
select {
	padding: 8px 12px;
	border: 1px solid;
	border-radius: 4px;
	margin-right: 10px;

	&:disabled {
		cursor: not-allowed;
		box-shadow: none;
	}
}

button,
[type="submit"],
select,
option {
	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	box-shadow: 0 2px 5px;
	transition: 0.3s ease-in-out;

	&:disabled {
		cursor: not-allowed;
		box-shadow: none;
	}
}

table {
	padding: 20px;
	margin-bottom: 20px;
	width: 100%;
	border-collapse: collapse;
	box-shadow: 0 2px 5px;
	border-radius: 8px;
	overflow: hidden;

	th,
	td {
		padding: 12px;
		border-bottom: 1px solid;
	}

	th {
		text-align: left;
	}
}

canvas {
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 2px 5px;
	margin-bottom: 20px;
	width: 100%;
	box-sizing: border-box;
}

*.hidden {
	display: none;
}

.bad {
	padding: 5px 10px;
	border-radius: 4px;
}

.good {
	padding: 5px 10px;
	border-radius: 4px;
}

.marginal {
	padding: 5px 10px;
	border-radius: 4px;
}

img {
	width: 25px;
	height: 25px;
}
