<!DOCTYPE html>
<html lang="nl"
	xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Case 2 demo</title>

		<link rel="stylesheet" th:href="@{/css/style.css}">
		<link rel="icon" th:href="@{/images/Logo_Aquafin.png}" />
	</head>

	<body data-page="data-raw">
		<div th:replace="~{layout :: header}"></div>

		<main>
			<h1>Jaarlijkse Neerslaggegevens</h1>

			<table id="rainfallTableBarChart">
				<thead>
					<tr>
						<th th:each="i : ${#numbers.sequence(rainfallTableRulerSteps, 0, -1)}">
							<span
								th:text="${i == 0 ? i + 'mm' : i + '0mm'}"
								class="rule">
								Index
							</span>
						</th>
					</tr>
					<tr>
						<th>
							<span>Jaar</span>
						</th>
					</tr>
				</thead>

				<tbody th:if="${rainfallYoungest}">
					<tr>
						<td th:attr="data-bar-value=${rainfallYoungest.january}"></td>
						<td th:attr="data-bar-value=${rainfallYoungest.february}"></td>
						<td th:attr="data-bar-value=${rainfallYoungest.march}"></td>
						<td th:attr="data-bar-value=${rainfallYoungest.april}"></td>
						<td th:attr="data-bar-value=${rainfallYoungest.may}"></td>
						<td th:attr="data-bar-value=${rainfallYoungest.june}"></td>
						<td th:attr="data-bar-value=${rainfallYoungest.july}"></td>
						<td th:attr="data-bar-value=${rainfallYoungest.august}"></td>
						<td th:attr="data-bar-value=${rainfallYoungest.september}"></td>
						<td th:attr="data-bar-value=${rainfallYoungest.october}"></td>
						<td th:attr="data-bar-value=${rainfallYoungest.november}"></td>
						<td th:attr="data-bar-value=${rainfallYoungest.december}"></td>
					</tr>
				</tbody>

				<tfoot>
					<tr>
						<th>
							<span>Jan</span>
						</th>
						<th>
							<span>Feb</span>
						</th>
						<th>
							<span>Mrt</span>
						</th>
						<th>
							<span>Apr</span>
						</th>
						<th>
							<span>Mei</span>
						</th>
						<th>
							<span>Jun</span>
						</th>
						<th>
							<span>Jul</span>
						</th>
						<th>
							<span>Aug</span>
						</th>
						<th>
							<span>Sep</span>
						</th>
						<th>
							<span>Okt</span>
						</th>
						<th>
							<span>Nov</span>
						</th>
						<th>
							<span>Dec</span>
						</th>
					</tr>
				</tfoot>
			</table>
		</main>

		<div th:replace="~{layout :: footer}"></div>
		<script type="text/javascript" th:src="@{/js/init.js}"></script>
	</body>
</html>
