<!DOCTYPE html>
<html lang="en"
	xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Case 2 demo</title>

		<link rel="stylesheet" th:href="@{/css/style.css}">
		<link rel="icon" href="data:image/png;base64,iVBORw0KGgo=">
	</head>

	<body>
		<div th:replace="~{layout :: header}"></div>

		<main>
			<h3>🌧️ Seizoensneerslag en Overstromingsgevaar</h3>

			<table>
				<thead>
					<tr>
						<th>
							<span>Jaar</span>
						</th>
						<th>
							<span>Seizoen</span>
						</th>
						<th>
							<span>Maanden</span>
						</th>
						<th>
							<span>Max. Totaal (mm)</span>
						</th>
						<th>
							<span>Richtwaarde voor Overstromingsgevaar (mm/seizoen)</span>
						</th>
						<th>
							<span>Gevaar?</span>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<ul>
								<li>
									<span>2023</span>
								</li>
							</ul>
						</td>

						<td>
							<ul>
								<li>
									<span>Winter</span>
								</li>
								<li>
									<span>Lente</span>
								</li>
								<li>
									<span>Zomer</span>
								</li>
								<li>
									<span>Herfst</span>
								</li>
							</ul>
						</td>

						<td>
							<ul>
								<li>
									<span>December – Januari – Februari</span>
								</li>
								<li>
									<span>Maart – April – Mei</span>
								</li>
								<li>
									<span>Juni – Juli – Augustus</span>
								</li>
								<li>
									<span>September – Oktober – November</span>
								</li>
							</ul>
						</td>

						<td>
							<ul>
								<li>
									<span>330mm</span>
								</li>
								<li>
									<span>222mm</span>
								</li>
								<li>
									<span>270mm</span>
								</li>
								<li>
									<span>305mm</span>
								</li>
							</ul>
						</td>

						<td>
							<ul>
								<li>
									<span>300mm</span>
								</li>
								<li>
									<span>250mm</span>
								</li>
								<li>
									<span>260mm</span>
								</li>
								<li>
									<span>280mm</span>
								</li>
							</ul>
						</td>

						<td>
							<ul>
								<li>
									<span>Ja</span>
								</li>
								<li>
									<span>Neen</span>
								</li>
								<li>
									<span>Ja (marginaal)</span>
								</li>
								<li>
									<span>Ja</span>
								</li>
							</ul>
						</td>
					</tr>

					<tr>
						<td>
							<ul>
								<li>
									<span>2023</span>
								</li>
							</ul>
						</td>

						<td>
							<ul>
								<li>
									<span>Winter</span>
								</li>
								<li>
									<span>Lente</span>
								</li>
								<li>
									<span>Zomer</span>
								</li>
								<li>
									<span>Herfst</span>
								</li>
							</ul>
						</td>

						<td>
							<ul>
								<li>
									<span>December – Januari – Februari</span>
								</li>
								<li>
									<span>Maart – April – Mei</span>
								</li>
								<li>
									<span>Juni – Juli – Augustus</span>
								</li>
								<li>
									<span>September – Oktober – November</span>
								</li>
							</ul>
						</td>

						<td>
							<ul>
								<li>
									<span>330mm</span>
								</li>
								<li>
									<span>222mm</span>
								</li>
								<li>
									<span>270mm</span>
								</li>
								<li>
									<span>305mm</span>
								</li>
							</ul>
						</td>

						<td>
							<ul>
								<li>
									<span>300mm</span>
								</li>
								<li>
									<span>250mm</span>
								</li>
								<li>
									<span>260mm</span>
								</li>
								<li>
									<span>280mm</span>
								</li>
							</ul>
						</td>

						<td>
							<ul>
								<li>
									<span>Ja</span>
								</li>
								<li>
									<span>Neen</span>
								</li>
								<li>
									<span>Ja (marginaal)</span>
								</li>
								<li>
									<span>Ja</span>
								</li>
							</ul>
						</td>
					</tr>

					<tr>
						<td>
							<ul>
								<li>
									<span>2023</span>
								</li>
							</ul>
						</td>

						<td>
							<ul>
								<li>
									<span>Winter</span>
								</li>
								<li>
									<span>Lente</span>
								</li>
								<li>
									<span>Zomer</span>
								</li>
								<li>
									<span>Herfst</span>
								</li>
							</ul>
						</td>

						<td>
							<ul>
								<li>
									<span>December – Januari – Februari</span>
								</li>
								<li>
									<span>Maart – April – Mei</span>
								</li>
								<li>
									<span>Juni – Juli – Augustus</span>
								</li>
								<li>
									<span>September – Oktober – November</span>
								</li>
							</ul>
						</td>

						<td>
							<ul>
								<li>
									<span>330mm</span>
								</li>
								<li>
									<span>222mm</span>
								</li>
								<li>
									<span>270mm</span>
								</li>
								<li>
									<span>305mm</span>
								</li>
							</ul>
						</td>

						<td>
							<ul>
								<li>
									<span>300mm</span>
								</li>
								<li>
									<span>250mm</span>
								</li>
								<li>
									<span>260mm</span>
								</li>
								<li>
									<span>280mm</span>
								</li>
							</ul>
						</td>

						<td>
							<ul>
								<li>
									<span>Ja</span>
								</li>
								<li>
									<span>Neen</span>
								</li>
								<li>
									<span>Ja (marginaal)</span>
								</li>
								<li>
									<span>Ja</span>
								</li>
							</ul>
						</td>
					</tr>
				</tbody>
			</table>

			<button>Toon meer</button>
		</main>

		<div th:replace="~{layout :: footer}"></div>
	</body>
</html>
