<!DOCTYPE html>
<html lang="en"
	xmlns:th="http://www.thymeleaf.org">

	<header th:insert="~{layout :: main_menu}"></header>

	<nav th:fragment="main_menu">
		<ul>
			<li class="grid-item-1">
				<a th:href="@{/index}">
					<img src alt="Logo">
				</a>
			</li>
			<li class="grid-item-2">
				<a th:href="@{/index}" class="current">Thuis</a>
			</li>
			<li class="grid-item-3">
				<a th:href="@{/data-raw}">Ruwe data</a>
			</li>

			<!-- <li>
				<a
					th:text="#{switch-en}"
					th:href="@{${requestURI}(lang='en')}"></a>
			</li>
			<li>
				<a
					th:text="#{switch-fr}"
					th:href="@{${requestURI}(lang='fr')}"></a>
			</li> -->
		</ul>
	</nav>

	<footer>
		<!-- <span th:text="${currentDate}"></span> -->
		<ul>
			<li class="grid-item-1">
				<a th:href="@{/index}">
					<img src alt="Logo">
				</a>
			</li>
			<li class="grid-item-2">
				<p>Copyright &copy; 2025 Aquafin. - Alle rechten voorbehouden.</p>
			</li>
		</ul>
	</footer>
